.post {
  height: 500px;
  .paragraph-container {
    height:100%;
    padding-top: 5px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
    text-align: start;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    word-break: break-all;

    .post-header {
    }

    .post-content {
    }

    .post-footer {
    }
  }
}