<div class="post" (click)=goDetail()>
  <div fxLayout="row" class="paragraph-container">
    <div fxFlex="30" class="post-content">
      <img
        src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.6435-9/240616012_3015653598761609_2512912475554401387_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=S7_pHSlruFsAX-rH_Gs&_nc_ht=scontent.fsgn2-2.fna&oh=a937a5dc1ee946050097ad3e135c6887&oe=614F7415"
        alt="">
    </div>
    <div fxFlex="70" fxLayout="column" class="post-header">
      <div class="boldTitle" fxFlex="25">Manic Pixie Dream Girl - Cứu tinh của những cuộc sống nhàm chán</div>
      <span fxFlex class="briefContent boldTitle">Summer trong 500 Days of Summer hay Clementine trong The Eternal
        Sunshine of The
        Spotless Mind có điểm gì chung?
      </span>
      <div fxFlex="20">
        <img class="avatar"
          src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.6435-9/180065382_2923374617989508_785157028533679731_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=KR3Ze1beMCUAX_WxdSa&_nc_ht=scontent.fsgn2-1.fna&oh=b856ad61b0b5a043d619a461b374234d&oe=614F60C2"
          alt="">
        <span class="userName boldTitle">Administrator</span>
        <span class="postedTime">28/08/2021</span>
      </div>
    </div>
  </div>
</div>