.post-list {
  display: inline-block;
  
  .loading-post::ng-deep circle {
    stroke: #bebebe !important;
  }

  .paragraph-container {
    width: 800px;
    height: 200px;
    display: block !important;
  }

  .post {
    display: block;
    padding-bottom: 20px;

    mat-card {
      padding: 0;
    }
  }
}
