.post-list {
  display: inline-block;
  
  .loading-post::ng-deep circle {
    stroke: #bebebe !important;
  }

  .paragraph-container {
    width: 700px;
    height: 400px;
    display: block !important;
  }

  .post {
    display: block;
  }
}
